<div class="content-border">
  <div class="section-title">
    {{ importantDatesLabel() }}
  </div>
  <span>
    <app-liturgical-dates [displayVerticalVersion]="displayVerticalVersion"></app-liturgical-dates>
    <app-version-info #versionInfo
                      appVisibilityCheck
                      [appTitle]="appTitle()"
                      [appVersion]="appVersion"
                      [hideBorder]="true"
                      (completelyVisibleEvent)="onVersionVisibleChanged($event)">
    </app-version-info>
  </span>
  <span>
    <!-- <div *ngIf="displayVerticalVersion">
      <app-version-info [appTitle]="appTitle()" [appVersion]="appVersion" [hideBorder]="true" class="version-vertical"></app-version-info>
    </div> -->
  </span>
</div>
