<div class="active-prayer-header">
  <span class="header-buttons">
    <span class="active-nav">
      <button class="home-widget" (click)="onStartNew()">
        &nbsp;&nbsp;&nbsp;&nbsp;
      </button>
    </span>
    <!-- <span *ngIf="isPortrait">
      <input #navEnabledChkbox type="checkbox" value=false (change)="onEnableNavigation()">
    </span> -->
    <span class="seperator"></span>
    <span class="header-language-selector">
      <app-language-selector
        class="dropdown-height"
        [items]="languageSelectorList"
        (languageSelectionChangeEvent)="onLanguageSelectionChange($event)">
      </app-language-selector>
    </span>
  </span>
  <span class="header-title">
    <span class="prayer-name">{{ prayerName }}</span>
  </span>
</div>
