@import '../../../styles-shared-mixins.scss';

.active-prayer-header {

  background-color: darkgray;
  opacity: 90%;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  padding: $padding;

}

@media (orientation: landscape) {
  .active-prayer-header {
    max-height: 6vh;
  }
}

@media (orientation: portrait) {
  .active-prayer-header {
    max-height: 4vh;
  }
}

.active-prayer-header .header-title {
  padding: $padding;
  text-align: center;
  width: 45%;
}

.active-prayer-header .header-buttons {
  padding: $padding;
  text-align: center;
}

@media (orientation: landscape) {

  .active-prayer-header .header-buttons {
    margin-top: -1.5vh;
  }

}

@media (orientation: portrait) {

  .active-prayer-header .header-buttons {
    margin-top: -1.9vh;
  }

}

