@use '../../../styles/style-variables.scss' as vars;

.active-prayer-header {

  background-color: darkgray;
  opacity: 90%;
  display: flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  padding: vars.$padding;
  position: absolute;
  left: 0;
  right: 0;

}

.prayer-name {
  font-weight: bold;
}

@media (orientation: landscape) {
  .active-prayer-header {
    max-height: 6vh;
  }
}

@media (orientation: portrait) {
  .active-prayer-header {
    max-height: 6vh;
  }
}

.active-prayer-header .header-title {
  padding: vars.$padding;
  text-align: left;
  // width: 25%;
}

.active-prayer-header .header-buttons {
  padding: vars.$padding;
  text-align: center;
  font-weight: bold;
  // width: 75%;
}

@media (orientation: landscape) {

  .active-prayer-header .header-buttons {
    margin-top: -1.5vh;
  }

}

@media (orientation: portrait) {

  .active-prayer-header .header-buttons {
    margin-top: -1.6vh;
  }

}

