<div id="rosary-beads">
  <div class="app-header-div">
    <app-header [prayerName]="'The Holy Rosary'"></app-header>
  </div>
  <div id="rosary-beads-img-div">
    <app-rosary-beads-container #rosaryBeads [rosaryBeadsType]="beadsByType"
                                (activeBeadsEvent)="onActiveBeads($event)">
    </app-rosary-beads-container>
  </div>
  <div id="rosary-beads-prayer-div">
    <div *ngIf="showMystery">
      <app-mystery-display [mysteryNumber]="mysteryNumber"
                           [mysteryDesc]="mysteryDesc"
                           [mysteryFruit]="mysteryFruit">
      </app-mystery-display>
    </div>
    <!-- <div id="active-prayer"> -->
      <app-prayer-display [activePrayerSequence]="currentPrayerSequence"
                          [currentPrayerCounter]="currentPrayerCounter"
                          [isPrayerSequenceDone]="isPrayerSequenceDone">
      </app-prayer-display>
    <!-- </div> -->
  </div>
  <button (click)="onPrevious()">&lt;= Previous</button>
  <button (click)="onNext()">Next =&gt;</button>
</div>
