<div class="language-selector">
  <app-language-selector></app-language-selector>
</div>
<div class="kv-row">
  <span class="kv-field-name">Version:</span>
  <span class="kv-field-value">{{ appNameVersion }}</span>
</div>
<div class="kv-row">
  <span class="kv-field-name">User-agent:</span>
  <span class="kv-field-value">{{ userAgent }}</span>
</div>
<div class="kv-row">
  <span class="kv-field-name">Portrait?</span>
  <span class="kv-field-value">{{ isPortrait }}</span>
</div>
<div class="kv-row">
  <span class="kv-field-name">Win (inner):</span>
  <span class="kv-field-value">{{ windowInnerDimension }}</span>
</div>
<div class="kv-row">
  <span class="kv-field-name">Win (outer):</span>
  <span class="kv-field-value">{{ windowOuterDimension }}</span>
</div>
<div class="kv-row">
  <span class="kv-field-name">Win DPR:</span>
  <span class="kv-field-value">{{ windowDevicePixelRatio }}</span>
</div>