
.swiper-parent-container {
  max-width: 800px;
  margin: 32px auto;

  h1 {
    text-align: center;

  }

  swiper-slide {
    text-align: center;
    font-size: 24px;
    border-radius: 24px;
    padding: 16px 0;
    height: 100%;
  }
}

#custom-prev-button, #custom-next-button {
  font-weight: bolder;
  font-size: xx-large;
  position: absolute;
  // top: 50%;
  bottom: 0;
  transform: translateY(-50%);
  z-index: 10; /* Ensure it's above the slides */
}

#custom-prev-button {
  left: 10px;
  /* Add other styling for appearance */
}

#custom-next-button {
  right: 10px;
  /* Add other styling for appearance */
}