<!-- app.component.html -->
<div class="swiper-parent-container">
  <swiper-container #mySwiper>
    <!-- <swiper-slide>Slide 1</swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
    <swiper-slide>Slide 4</swiper-slide> -->
    <swiper-slide *ngFor="let sequence of prayerSequence; let i = index">
      <app-prayer-display [activePrayerSequence]="sequence"></app-prayer-display>
      <!-- <div>{{ sequence?.toString() }}</div> -->
      <!-- Hello -->
    </swiper-slide>
  </swiper-container>

  <button id="custom-prev-button" (click)="onPrev()">&lArr;</button>
  <button id="custom-next-button" (click)="onNext()">&rArr;</button>
</div>