@import '../../../styles-shared-mixins.scss';

.leaderPrayerRight {
  float: right;
}

.prayer-leader-label, .prayer-response-label {
  border-width: 1px;
  font-style: italic;
  font-weight: bold;
  opacity: 100%;
  width: 5vh;
}

.prayer-all, .prayer-leader-label, .prayer-response-label {
  margin-top: $margins;
}

.prayer-all, .prayer-leader, .prayer-response, .prayer-leader-label, .prayer-response-label {
  display: block;
  margin-left: $margins;
  margin-right: $margins;
  padding: $padding;
  text-align: left;
  width: auto;
}
