<div *ngIf="showSelector" class="liturgical-div">
  <label>{{ liturgicalPeriodLabel() }}:</label>&nbsp;
  <select (change)="onLiturgicalPeriodChanged($event)">
    <option *ngFor="let periodSelector of litYearColorSelector; let i = index" value="{{ i }}">
      {{ periodSelector.name }}
    </option>
  </select>
</div>
<div class="box">
  <div *ngFor="let period of periods" class="period">
    <div class="label">{{ labelFromId(period.labelId) }}:</div>
    {{ period.startDate | date }} - {{ period.endDate | date }}
  </div>
</div>
