<div class="mystery-row">
  <ng-container *ngIf="appConfig.isPortrait === false">
    <div class="mystery-row-inner">
      <div class="mystery-label">
        {{ mysteryNumber }}:
      </div>
      <div class="mystery-value">
        {{ mysteryDesc }}
      </div>
    </div>
    <ng-container *ngIf="mysteryFruit">
      <div class="mystery-row-inner">
        <div class="fruit-label" i18n="@@mystery-fruit">Fruit of the Mystery:</div>
        <div class="fruit-value">
          {{ mysteryFruit }}
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="appConfig.isPortrait">
    <span class="mystery-label">
      {{ mysteryNumber }}:
    </span>
    <span class="mystery-value">
      {{ mysteryDesc }}
    </span>
    <ng-container *ngIf="mysteryFruit">
      <span class="fruit-value">
        - {{ mysteryFruit }}
      </span>
    </ng-container>
  </ng-container>
</div>
