// @use 'styles/variables' as vars;
@use '../../../../styles/style-variables.scss' as vars;

.mystery-row {
  border: vars.$border;
  border-radius: vars.$border-radius;
  background-color: darkgray;
  opacity: 85%;
  margin: vars.$margins;
  padding: vars.$padding;
  text-align: left;
}

@media (orientation: landscape) {

  .mystery-row-inner {
    margin-top: vars.$margins;
  }

  .mystery-label, .fruit-label {
    font-size: small;
    margin-left: vars.$margins;
    margin-right: vars.$margins;
  }

  .mystery-value, .fruit-value {
    font-weight: bold;
    margin-left: vars.$margins;
    margin-right: vars.$margins;
    text-align: left;
  }

}

@media (orientation: portrait) {

  .mystery-row-inner {
    margin-top: 0.5vh;
  }

  .mystery-value {
    font-weight: bold;
  }

  .fruit-value {
    font-style: italic;
  }
}


