<div class="mystery-row">
  <ng-container *ngIf="appConfig.isPortrait === false">
    <div class="mystery-row-inner">
      <div class="mystery-label">
        {{ mysteryNumber | translate }}:
      </div>
      <div class="mystery-value">
        {{ mysteryDesc | translate }}
      </div>
    </div>
    <ng-container *ngIf="mysteryFruitDisplay">
      <div class="mystery-row-inner">
        <div class="fruit-label">{{ 'mystery-fruit' | translate }}</div>
        <div class="fruit-value">
          {{ mysteryFruitDisplay }}
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="appConfig.isPortrait">
    <span class="mystery-label">
      {{ mysteryNumber | translate }}:
    </span>
    <span class="mystery-value">
      {{ mysteryDesc | translate }}
    </span>
    <ng-container *ngIf="mysteryFruitDisplay">
      <span class="fruit-value">
        - {{ mysteryFruitDisplay }}
      </span>
    </ng-container>
  </ng-container>
</div>
